*{
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c7c7c7;
    font-family:'Tahoma';
}

.main{
    min-height: 100vh;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 0 30px 30px 30px;
}

.top{
    height: 30px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.headItems{
    display: flex;
    gap: 5px;
    align-items: center;
}

#restartBtn:hover{
    color:darkgrey;
}

table, th, td {
    border:1px solid black;
}

td{
    align-items: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}


.cryptoIcon{
    width: 40px;
}


.buySell{
    display: flex;
    gap: 10px;
    color: white;
    display: flex;
    justify-content: end;
}

.sellBtn{
    background-color: #f6465d;
    cursor: pointer;
    padding: 2px 18px;
}

.buyBtn{
    background-color:#2ebd85;
    color: white;
    cursor: pointer;
    padding: 2px 18px;
}

.three-crypto-wallet{
    display: flex;
    justify-content: space-around;
}

.crypto-wallet{
    display: flex;
    gap: 5px;
}

.crypto-wallet img{
    width: 20px;
}

.buttom{
    min-width: 100%;
}

.buttom table{
    width: 100%;
}

.buttom td{
    text-align: center;
}

.lexury{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 10px;
}

.lexury img{
    width: 100%;
}

.item-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

#error{
    color: red;
}

@media (max-width: 430px){
    .main{
        gap: 40px;
        width: 100%;
        padding: 5px 25px;
        justify-content: center;
        font-size: 18px;
        
    }

    .crypto-wallet{
        gap: 16px;
        align-items: center;
    }
    .crypto-wallet img{
        width: 30px;
        height: 100%;
    }

    .cryptoIcon{
        width: 45px;
    }

    #dyTable td{
        padding: 18px 10px;
    }

    .buttom td{
        padding: 12px 0;
    }
}


@media(max-width: 1024px) and (min-width: 431px){
    .main{
        gap: 40px;
        width: 100%;
        padding: 5px 50px;
        justify-content: center;
        font-size: 30px;
        
    }

    .crypto-wallet{
        gap: 20px
    }
    .crypto-wallet img{
        width: 40px;
        height: 100%;
    }

    .cryptoIcon{
        width: 65px;
    }

    #dyTable td{
        padding: 18px 10px;
    }
}

